# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.pnp.cjs

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Next.js build output
.next
out

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
public

# Storybook build outputs
.out
.storybook-out
storybook-static

# Temporary folders
tmp/
temp/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Convex
.env.local
convex/_generated/
.next/app-build-manifest.json
.next/build-manifest.json
.next/fallback-build-manifest.json
.next/package.json
.next/postcss.js
.next/postcss.js.map
.next/prerender-manifest.json
.next/routes-manifest.json
.next/trace
.next/build/chunks/\[root-of-the-server]__51225daf._.js
.next/build/chunks/\[root-of-the-server]__51225daf._.js.map
.next/build/chunks/\[root-of-the-server]__974941ed._.js
.next/build/chunks/\[root-of-the-server]__974941ed._.js.map
.next/build/chunks/\[turbopack-node]_transforms_postcss_ts_5260e9fa._.js
.next/build/chunks/\[turbopack-node]_transforms_postcss_ts_5260e9fa._.js.map
.next/build/chunks/\[turbopack]_runtime.js
.next/build/chunks/\[turbopack]_runtime.js.map
.next/build/chunks/node_modules_fe693df6._.js
.next/build/chunks/node_modules_fe693df6._.js.map
.next/cache/.rscinfo
.next/cache/next-devtools-config.json
.next/server/app-paths-manifest.json
.next/server/interception-route-rewrite-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/app/page_client-reference-manifest.js
.next/server/app/page.js
.next/server/app/page.js.map
.next/server/app/_not-found/page_client-reference-manifest.js
.next/server/app/_not-found/page.js
.next/server/app/_not-found/page.js.map
.next/server/app/_not-found/page/app-build-manifest.json
.next/server/app/_not-found/page/app-paths-manifest.json
.next/server/app/_not-found/page/build-manifest.json
.next/server/app/_not-found/page/next-font-manifest.json
.next/server/app/_not-found/page/react-loadable-manifest.json
.next/server/app/_not-found/page/server-reference-manifest.json
.next/server/app/auth/page_client-reference-manifest.js
.next/server/app/auth/page.js
.next/server/app/auth/page.js.map
.next/server/app/auth/page/app-build-manifest.json
.next/server/app/auth/page/app-paths-manifest.json
.next/server/app/auth/page/build-manifest.json
.next/server/app/auth/page/next-font-manifest.json
.next/server/app/auth/page/react-loadable-manifest.json
.next/server/app/auth/page/server-reference-manifest.json
.next/server/app/favicon.ico/route.js
.next/server/app/favicon.ico/route.js.map
.next/server/app/favicon.ico/route/app-build-manifest.json
.next/server/app/favicon.ico/route/app-paths-manifest.json
.next/server/app/favicon.ico/route/build-manifest.json
.next/server/app/page/app-build-manifest.json
.next/server/app/page/app-paths-manifest.json
.next/server/app/page/build-manifest.json
.next/server/app/page/next-font-manifest.json
.next/server/app/page/react-loadable-manifest.json
.next/server/app/page/server-reference-manifest.json
.next/server/chunks/\[root-of-the-server]__f547b805._.js
.next/server/chunks/\[root-of-the-server]__f547b805._.js.map
.next/server/chunks/\[turbopack]_runtime.js
.next/server/chunks/\[turbopack]_runtime.js.map
.next/server/chunks/node_modules_next_635ab235._.js
.next/server/chunks/node_modules_next_635ab235._.js.map
.next/server/chunks/ssr/\[externals]_next_dist_compiled_next-server_app-page-turbo_runtime_dev_062c5159.js
.next/server/chunks/ssr/\[externals]_next_dist_compiled_next-server_app-page-turbo_runtime_dev_062c5159.js.map
.next/server/chunks/ssr/\[root-of-the-server]__4d5b0499._.js
.next/server/chunks/ssr/\[root-of-the-server]__4d5b0499._.js.map
.next/server/chunks/ssr/\[root-of-the-server]__38b19390._.js
.next/server/chunks/ssr/\[root-of-the-server]__38b19390._.js.map
.next/server/chunks/ssr/\[root-of-the-server]__51c49bf6._.js
.next/server/chunks/ssr/\[root-of-the-server]__51c49bf6._.js.map
.next/server/chunks/ssr/\[root-of-the-server]__504f71d9._.js
.next/server/chunks/ssr/\[root-of-the-server]__504f71d9._.js.map
.next/server/chunks/ssr/\[root-of-the-server]__6376eecb._.js
.next/server/chunks/ssr/\[root-of-the-server]__6376eecb._.js.map
.next/server/chunks/ssr/\[root-of-the-server]__39894879._.js
.next/server/chunks/ssr/\[root-of-the-server]__39894879._.js.map
.next/server/chunks/ssr/\[root-of-the-server]__a8ab9a0d._.js
.next/server/chunks/ssr/\[root-of-the-server]__a8ab9a0d._.js.map
.next/server/chunks/ssr/\[root-of-the-server]__a9fea3fa._.js
.next/server/chunks/ssr/\[root-of-the-server]__a9fea3fa._.js.map
.next/server/chunks/ssr/\[root-of-the-server]__ae7fbd27._.js
.next/server/chunks/ssr/\[root-of-the-server]__ae7fbd27._.js.map
.next/server/chunks/ssr/\[root-of-the-server]__bad30808._.js
.next/server/chunks/ssr/\[root-of-the-server]__bad30808._.js.map
.next/server/chunks/ssr/\[root-of-the-server]__c80f7c8f._.js
.next/server/chunks/ssr/\[root-of-the-server]__c80f7c8f._.js.map
.next/server/chunks/ssr/\[root-of-the-server]__c84f4e0d._.js
.next/server/chunks/ssr/\[root-of-the-server]__c84f4e0d._.js.map
.next/server/chunks/ssr/\[root-of-the-server]__cc726b95._.js
.next/server/chunks/ssr/\[root-of-the-server]__cc726b95._.js.map
.next/server/chunks/ssr/\[root-of-the-server]__e8a2741f._.js
.next/server/chunks/ssr/\[root-of-the-server]__e8a2741f._.js.map
.next/server/chunks/ssr/\[root-of-the-server]__ee34b3b9._.js
.next/server/chunks/ssr/\[root-of-the-server]__ee34b3b9._.js.map
.next/server/chunks/ssr/\[root-of-the-server]__fd8846ad._.js
.next/server/chunks/ssr/\[root-of-the-server]__fd8846ad._.js.map
.next/server/chunks/ssr/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_89c5f8e8._.js
.next/server/chunks/ssr/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_89c5f8e8._.js.map
.next/server/chunks/ssr/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_818f0fdf._.js
.next/server/chunks/ssr/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_818f0fdf._.js.map
.next/server/chunks/ssr/\[turbopack]_runtime.js
.next/server/chunks/ssr/\[turbopack]_runtime.js.map
.next/server/chunks/ssr/node_modules_0a3ca30d._.js
.next/server/chunks/ssr/node_modules_0a3ca30d._.js.map
.next/server/chunks/ssr/node_modules_0a500b95._.js
.next/server/chunks/ssr/node_modules_0a500b95._.js.map
.next/server/chunks/ssr/node_modules_3af0c943._.js
.next/server/chunks/ssr/node_modules_3af0c943._.js.map
.next/server/chunks/ssr/node_modules_3bbf274d._.js
.next/server/chunks/ssr/node_modules_3bbf274d._.js.map
.next/server/chunks/ssr/node_modules_5f2d4120._.js
.next/server/chunks/ssr/node_modules_5f2d4120._.js.map
.next/server/chunks/ssr/node_modules_13eabd4a._.js
.next/server/chunks/ssr/node_modules_13eabd4a._.js.map
.next/server/chunks/ssr/node_modules_547e43fd._.js
.next/server/chunks/ssr/node_modules_547e43fd._.js.map
.next/server/chunks/ssr/node_modules_b6c8e909._.js
.next/server/chunks/ssr/node_modules_b6c8e909._.js.map
.next/server/chunks/ssr/node_modules_c64fb86a._.js
.next/server/chunks/ssr/node_modules_c64fb86a._.js.map
.next/server/chunks/ssr/node_modules_convex_dist_esm_server_d4036ec9._.js
.next/server/chunks/ssr/node_modules_convex_dist_esm_server_d4036ec9._.js.map
.next/server/chunks/ssr/node_modules_next_dist_7fb4a9f3._.js
.next/server/chunks/ssr/node_modules_next_dist_7fb4a9f3._.js.map
.next/server/chunks/ssr/node_modules_next_dist_9afa1ded._.js
.next/server/chunks/ssr/node_modules_next_dist_9afa1ded._.js.map
.next/server/chunks/ssr/node_modules_next_dist_52ca1ccf._.js
.next/server/chunks/ssr/node_modules_next_dist_52ca1ccf._.js.map
.next/server/chunks/ssr/node_modules_next_dist_client_08ecec73._.js
.next/server/chunks/ssr/node_modules_next_dist_client_08ecec73._.js.map
.next/server/chunks/ssr/node_modules_next_dist_client_components_9774470f._.js
.next/server/chunks/ssr/node_modules_next_dist_client_components_9774470f._.js.map
.next/server/chunks/ssr/node_modules_next_dist_client_components_builtin_forbidden_45780354.js
.next/server/chunks/ssr/node_modules_next_dist_client_components_builtin_forbidden_45780354.js.map
.next/server/chunks/ssr/node_modules_next_dist_client_components_builtin_global-error_ece394eb.js
.next/server/chunks/ssr/node_modules_next_dist_client_components_builtin_global-error_ece394eb.js.map
.next/server/chunks/ssr/node_modules_next_dist_client_components_builtin_unauthorized_15817684.js
.next/server/chunks/ssr/node_modules_next_dist_client_components_builtin_unauthorized_15817684.js.map
.next/server/chunks/ssr/node_modules_next_dist_compiled_b1baabe8._.js
.next/server/chunks/ssr/node_modules_next_dist_compiled_b1baabe8._.js.map
.next/server/chunks/ssr/node_modules_next_dist_compiled_next-devtools_index_a19313bf.js
.next/server/chunks/ssr/node_modules_next_dist_compiled_next-devtools_index_a19313bf.js.map
.next/server/chunks/ssr/node_modules_next_dist_d718fc85._.js
.next/server/chunks/ssr/node_modules_next_dist_d718fc85._.js.map
.next/server/chunks/ssr/node_modules_next_dist_e26b5ed5._.js
.next/server/chunks/ssr/node_modules_next_dist_e26b5ed5._.js.map
.next/server/chunks/ssr/node_modules_next_dist_esm_968ff1ee._.js
.next/server/chunks/ssr/node_modules_next_dist_esm_968ff1ee._.js.map
.next/server/chunks/ssr/node_modules_next_dist_server_route-modules_app-page_f354387c._.js
.next/server/chunks/ssr/node_modules_next_dist_server_route-modules_app-page_f354387c._.js.map
.next/server/chunks/ssr/node_modules_next_navigation_34126abf.js
.next/server/chunks/ssr/node_modules_next_navigation_34126abf.js.map
.next/server/chunks/ssr/node_modules_tailwind-merge_dist_bundle-mjs_mjs_0b83d5d5._.js
.next/server/chunks/ssr/node_modules_tailwind-merge_dist_bundle-mjs_mjs_0b83d5d5._.js.map
.next/server/chunks/ssr/node_modules_zod_v4_bac1f066._.js
.next/server/chunks/ssr/node_modules_zod_v4_bac1f066._.js.map
.next/server/chunks/ssr/src_app_ca777385._.js
.next/server/chunks/ssr/src_app_ca777385._.js.map
.next/static/chunks/_71d8361d._.js
.next/static/chunks/_71d8361d._.js.map
.next/static/chunks/_586d289e._.js
.next/static/chunks/_586d289e._.js.map
.next/static/chunks/_a0ff3932._.js
.next/static/chunks/_c379463b._.js
.next/static/chunks/_c379463b._.js.map
.next/static/chunks/_cdba956c._.js.map
.next/static/chunks/\[next]_internal_font_google_geist_a71539c9_module_css_bad6b30c._.single.css
.next/static/chunks/\[next]_internal_font_google_geist_a71539c9_module_css_bad6b30c._.single.css.map
.next/static/chunks/\[next]_internal_font_google_geist_mono_8d43a2aa_module_css_bad6b30c._.single.css
.next/static/chunks/\[next]_internal_font_google_geist_mono_8d43a2aa_module_css_bad6b30c._.single.css.map
.next/static/chunks/\[root-of-the-server]__0f0ba101._.css
.next/static/chunks/\[root-of-the-server]__0f0ba101._.css.map
.next/static/chunks/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_57d40746._.js
.next/static/chunks/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_57d40746._.js.map
.next/static/chunks/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_285433b7._.js
.next/static/chunks/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_c8c997ce._.js
.next/static/chunks/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_c8c997ce._.js.map
.next/static/chunks/node_modules_@swc_helpers_cjs_b3dc30d6._.js
.next/static/chunks/node_modules_@swc_helpers_cjs_b3dc30d6._.js.map
.next/static/chunks/node_modules_0b4791a2._.js
.next/static/chunks/node_modules_0b4791a2._.js.map
.next/static/chunks/node_modules_3b2bb443._.js
.next/static/chunks/node_modules_3b2bb443._.js.map
.next/static/chunks/node_modules_9b6d771c._.js
.next/static/chunks/node_modules_9b6d771c._.js.map
.next/static/chunks/node_modules_45f9191b._.js
.next/static/chunks/node_modules_45f9191b._.js.map
.next/static/chunks/node_modules_convex_dist_esm_server_d08d3c5f._.js
.next/static/chunks/node_modules_convex_dist_esm_server_d08d3c5f._.js.map
.next/static/chunks/node_modules_d7352098._.js
.next/static/chunks/node_modules_d7352098._.js.map
.next/static/chunks/node_modules_next_dist_8db7fb1f._.js
.next/static/chunks/node_modules_next_dist_8db7fb1f._.js.map
.next/static/chunks/node_modules_next_dist_b0daae9a._.js
.next/static/chunks/node_modules_next_dist_b0daae9a._.js.map
.next/static/chunks/node_modules_next_dist_build_polyfills_polyfill-nomodule.js
.next/static/chunks/node_modules_next_dist_client_cf1d9188._.js
.next/static/chunks/node_modules_next_dist_client_cf1d9188._.js.map
.next/static/chunks/node_modules_next_dist_client_components_builtin_global-error_3d2db55e.js
.next/static/chunks/node_modules_next_dist_client_components_builtin_global-error_f8fdd2d5.js
.next/static/chunks/node_modules_next_dist_compiled_5150ccfd._.js
.next/static/chunks/node_modules_next_dist_compiled_5150ccfd._.js.map
.next/static/chunks/node_modules_next_dist_compiled_next-devtools_index_a9cb0712.js
.next/static/chunks/node_modules_next_dist_compiled_next-devtools_index_a9cb0712.js.map
.next/static/chunks/node_modules_next_dist_compiled_react-dom_1e674e59._.js
.next/static/chunks/node_modules_next_dist_compiled_react-dom_1e674e59._.js.map
.next/static/chunks/node_modules_next_dist_f13e31ba._.js
.next/static/chunks/node_modules_next_dist_f13e31ba._.js.map
.next/static/chunks/node_modules_tailwind-merge_dist_bundle-mjs_mjs_56b6fd65._.js
.next/static/chunks/node_modules_tailwind-merge_dist_bundle-mjs_mjs_56b6fd65._.js.map
.next/static/chunks/node_modules_zod_v4_df0fe25e._.js
.next/static/chunks/node_modules_zod_v4_df0fe25e._.js.map
.next/static/chunks/src_6170fab4._.js
.next/static/chunks/src_6170fab4._.js.map
.next/static/chunks/src_app_auth_page_tsx_3d2db55e._.js
.next/static/chunks/src_app_favicon_ico_mjs_243aa161._.js
.next/static/chunks/src_app_globals_css_bad6b30c._.single.css
.next/static/chunks/src_app_globals_css_bad6b30c._.single.css.map
.next/static/chunks/src_app_layout_tsx_0a548d63._.js
.next/static/chunks/src_app_page_tsx_3d2db55e._.js
.next/static/chunks/src_app_page_tsx_f8fdd2d5._.js
.next/static/chunks/src_d29a5a14._.js
.next/static/chunks/src_d29a5a14._.js.map
.next/static/chunks/src_providers_ConvexProvider_tsx_dc09bf65._.js
.next/static/chunks/src_providers_ConvexProvider_tsx_dc09bf65._.js.map
.next/static/chunks/turbopack-_cdba956c._.js
.next/static/development/_buildManifest.js
.next/static/development/_clientMiddlewareManifest.json
.next/static/development/_ssgManifest.js
.next/static/media/4fa387ec64143e14-s.c1fdd6c2.woff2
.next/static/media/8a480f0b521d4e75-s.8e0177b5.woff2
.next/static/media/797e433ab948586e-s.p.dbea232f.woff2
.next/static/media/7178b3e590c64307-s.b97b3418.woff2
.next/static/media/bbc41e54d2fcbd21-s.799d8ef8.woff2
.next/static/media/caa3a2e1cccd8315-s.p.6435ea53.woff2
.next/static/media/favicon.0b3bf435.ico
.next/types/routes.d.ts
.next/types/validator.ts
